body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Lexend Deca", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
}

body {
  background-image: url(../images/galaxy.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 80%;
}

.box {
  box-sizing: border-box;
  margin-left: 50%;
  height: 100%;
  background-color: hsl(0, 0%, 100%, 50%);
}

.titletext {
  color: white;
  font-size: large;
}

.text-center {
  padding: 10px 0;
  text-align: center;
}

.container {
  width: 100%;
}
.grid-container-top {
  display: grid;
  margin-top: 150px;
  grid-template-columns: 33% 33% 33%;
}

.grid-container-bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 80px;
  margin-bottom: 100px;
}

.grid-photo {
  color: white;
  text-align: center;
  font-size: 16pt;
}

.grid-photo img{
  max-width: 200px;
  max-height: 200px;
  
}
.grid-photo img:hover{
  color: #111; 
  background-color: rgba(24, 123, 204, 0.3);
  box-shadow: 0 0 100px rgb(133, 195, 245); 
  border-radius: 50%;
  
}
