input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* main blocks */
body {
    background-image: url("../images/tempbackground1.jpg");
}


/* text styles */
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


/* objects */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.search-bar {
    background-color: white;
    margin-bottom: 20px;
    align-self: center;
    justify-content: center;
    width: 50%;
    height: 15px;
    padding: 10px;
    border-radius: 30px;
    padding: 15px;
}
.contacts-box {
    background-color: white;
    margin: 10;
    align-self: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}

table {
    /* display: flex;
    flex:auto;
    flex-direction: column; */
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 15px;
}

th, td {
    padding: 10px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

th {
    background-color: rgb(39, 39, 39);
    color: white;
}

tr:nth-child(even) {
    background-color: #dfdfdf;
    width:min-content;
}

tr:hover {
    background-color: #64a2ff;
}




  