body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Lexend Deca", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: medium;
}

body {
  background-image: url("../images/astronaut.png");
  background-size: 150%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 90% 80%;
}

.box {
  box-sizing: border-box;
  margin-left: 50%;
  height: 100%;
  background-color: hsl(0, 0%, 100%, 50%);
}

.text-center {
  padding: 50px 0;
  text-align: center;
}

.heading-sentence {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.create-a-new-acc-sentece {
  color: #000;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  padding-left: 33%;
}

/* Fix margin issue with nav bar */
.navbar {
  margin-bottom: 0;
}

/* Fix horizontal scroll issue */
* {
  overflow-x: hidden;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 50%;
  top: 0;
  bottom: 0;
  z-index: -1;
}

